@import "../../../variables.less";

.menu-design-view-container{
  display: flex;
  height: 100%;
  justify-content: center;
  .design-view{
    width: 300px;
    height: calc(100% - 16px);
    overflow: auto;
    margin: 8px;
    display: flex;
    flex-flow: column;
    .ant-card-body{
      flex: 1;
      display: flex;
      flex-flow: column;
    }
  }
}