@import '~antd/lib/style/themes/default.less';

.appx-pro-layout{
  height: 100%;
  width: 100%;
  .left-area{
    width: 280px;
    height: 100%;
  }
  .ant-menu.ant-menu-inline-collapsed{
    width: 56px;
  }
}

.appx-pro-layout.dark, .left-area.dark{
  background-color: #001529;
}