.material-module-modal{
  .ant-modal-body{
    padding:0;
  }
  .material-dialog-content{
    display: flex;
    height: calc(100vh - 300px);
    min-height: 300px;
    .material-dialog-tabs{
      width: 260px;
      height: 100%;
      padding-left: 16px;
      .ant-tabs{
        height: 100%;
        .ant-tabs-nav-wrap{
          height: 48px;
        }
        .ant-tabs-content-holder{
          overflow: auto;
          height: 100%;
        }
      }
    }
    .material-dialog-coms{
      flex: 1;
      height: 100%;
    }
    .content{
      padding: 16px;
      display: flex;
      flex-flow: column;
    }
    .content-title{
      padding: 8px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 48px;
    }
    .material-dialog-materials{
      width: 260px;
      height: 100%;
    }
  }

}

.material-tabs-edits-modal{
  .ant-modal-body{
    padding-top: 8px;
  }
  .tabs-view{
    display: flex;
    flex: 1;
    .draggable-label{
      display: flex;
      align-items: center;
      height: 40px;
      .label-text{
        flex:1,
      }
    }
  }

  .tabs-edit-content{
    display: flex;
    flex-flow: column;
    //min-height: 100px;
    max-height: 300px;
    overflow: auto;
  }
}



.material-upoad-modal{
  .ant-modal-body{
    padding-top:8px;
  }
}
