@import url(../../../../variables.less);
.material-module-modal{
  .ant-modal-body{
    padding:0;
  }
  .material-dialog-content{
    display: flex;
    height: calc(100vh - 300px);
    min-height: 300px;
    .material-dialog-tabs{
      flex:1;
      height: 100%;
      padding-left: 8px;
      .ant-tabs{
        height: 100%;
        .ant-tabs-nav-wrap{
          height: 48px;
          padding-left: 16px;
        }
        .ant-tabs-content-holder{
          overflow: auto;
          height: 100%;
        }
      }
    }
    .material-dialog-coms{
      flex: 1;
      height: 100%;
    }
    .float{
      box-shadow: @floatBoxShadow;
      transition: all 0.3s;
    }
    .content{
      height: 100%;
      display: flex;
      flex-flow: column;
      overflow: auto;
      padding-right: 8px;
      .plugin-pannel{
        background-color: @backgrounColor;
      }
      // .plugin-pannel:hover{
      //   box-shadow: @floatBoxShadow;
      //   transition: all 0.3s;
      //   transform:translate3d(0, 0, 0);
      // }
    }
    .content-title{
      padding-right: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 48px;
      .title-text{
        padding: 8px 16px;
        padding-left: 0;
        height: 100%;
        width: 100%;
      }
    }
    .material-dialog-plugins{
      width: 320px;
      height: 100%;
      .plugin-title{
        padding: 8px 0;
      }
    }
    .ant-collapse-header{
      display: flex;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0;
    }
    .material-group-label{
      width: 100%;
      display: flex;
      align-items: center;
      height: 40px;
      .label-text{
        flex:1,
      }
    }
  }

}

.material-tabs-edits-modal{
  .ant-modal-body{
    padding-top: 8px;
  }
  .tabs-view{
    display: flex;
    flex: 1;
    .draggable-label{
      display: flex;
      align-items: center;
      height: 40px;
      .label-text{
        flex:1,
      }
    }
  }

  .tabs-edit-content{
    display: flex;
    flex-flow: column;
    //min-height: 100px;
    max-height: 300px;
    overflow: auto;
  }
}

