@import url("../../variables.less");

.lang-select-dialog{
  .lang-list{
    flex: 1;
    border: solid 1px @borderColor;
    height: calc(100vh - 340px);
    padding: 8px;
    overflow: auto;
    .lang-item{
      display: flex;
      padding: 8px;
      .lang-abbr{
        margin-right: 8px;
      }
    }
  }
}