<!DOCTYPE html>

<head>
  <link rel="icon" href="/public/favicon.png" />
  <title>
    Apper，一个有趣的低代码平台
  </title>
</head>

<body>
  <script type="text/JavaScript">
  </script>
  <div id="root" style="height:100%">
  </div>
  <script type="text/javascript" src="/public/venders/monaco-themes.js"></script>
  <script src="/public/venders/moment-with-locales.js"></script>
  <script src="/public/venders/react.production.min.js"></script>
  <script src="/public/venders/react-dom.production.min.js"></script>
  <script src="/public/venders/antd-with-locales.min.js"></script>
</body>