@import "../variables.less";

.dn-workspace-panel{
  padding: 0;
}
.model-minimap{
  position: absolute;
  z-index: 1;
  bottom: 3px;
  left: 3px;
  width: 140px;
  height: 110px;
  border-radius: 5px;
  overflow: hidden;
}

.appx-model-board{
  flex: 1;
  display: flex;
  flex-flow: row;
  height: calc(100vh - @toolbarHeight);
  background-color: @canvasBackgroundColor;
  .model-tree-shell{
    display: flex;
    flex-flow: column;
    background-color: @backgrounColor;
    border-right: solid 1px @borderColor;
    width: 300px;
    height: 100%;
    overflow: auto;
  }
  .property-box-area{
    display: flex;
    height: 100%;
    flex-flow: column;
    width: 260px;
    background-color: @backgrounColor;
    .property-box{
      flex:1;
      display: flex;
      flex-flow: column;
      height: 0;
      overflow: auto;
      width: 100%;
      .property-pannel{
        padding: 8px 16px;
      }
    }
  }

  
}

