@import "../variables.less";

.dn-workspace-panel{
  padding: 0;
}
.system-model-border{
  .appx-model-board{
    height: calc(100vh - @toolbarHeight);
  }
}

.appx-model-board{
  flex: 1;
  display: flex;
  flex-flow: row;
  height: 100vh;
  background-color: @canvasBackgroundColor;
  .model-tree-shell{
    display: flex;
    flex-flow: column;
    background-color: @backgrounColor;
    border-right: solid 1px @borderColor;
    width: 300px;
    height: 100%;
    overflow: auto;
  }
  .property-box-area{
    display: flex;
    height: 100%;
    flex-flow: column;
    background-color: @backgrounColor;
    .property-box{
      flex:1;
      display: flex;
      flex-flow: column;
      height: 0;
      overflow: auto;
      width: 260px;
      .property-pannel{
        padding: 8px 16px;
      }
    }
  }
}

