@import '~antd/lib/style/themes/default.less';

@collapsedWidth:56px;

.appx-pro-layout{
  height: 100%;
  width: 100%;
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  // .sider-nav{
  //     .ant-menu.ant-menu-inline-collapsed{
  //     width: @collapsedWidth;
  //   }
  // }

  .logo{
    color: #fff;
  }

}
