@import '~antd/lib/style/themes/default.less';
.appx-pro-layout{
  height: 100%;
  width: 100%;
  
  .toolbar{
    height: 64px;
    display: flex;
    padding: 8px 8px;
    align-items: center;
  }

  .site-layout .site-layout-background {
    background: #fff;
  }

  .sider-nav{
    position: fixed;
    left:0;
    top: 0;
    height: 100vh;
    overflow-x: hidden;
    .ant-layout-sider-children{
      height: 100%;
      display: flex;
      flex-flow: column;      
    }
    ::-webkit-scrollbar {
      display: none;
    }
    
    ::-webkit-scrollbar-track {
      border-radius: 0;
    }
    
    ::-webkit-scrollbar-thumb {
      border-radius: 0.2rem;
      background: rgba(255, 255, 255, 0.4);
      transition: all .2s;
    }
    
    .nav-menu:hover::-webkit-scrollbar{
      display: block;
      width: 0.4rem;
      height: 0.4rem;
    }
  }

  .nav-menu{
    overflow: overlay;
    flex: 1;
    height: 0;
  }
  // .sider-nav{
  //     .ant-menu.ant-menu-inline-collapsed{
  //     width: @collapsedWidth;
  //   }
  // }

  .logo{
    color: #fff;
    overflow: hidden;
    min-width: 260px;
    transition: all 0.3s;
    .logo-title{
      margin-left: 16px;
      font-weight: bold;
      font-size: 18px;
      transition: all 0.3s;
    }
  }

  .logo.collapsed{
    .logo-title{
      display: none;
    }
  }

  .header-toolbar{
    padding-left: 16px;
  }

}
