.rx-medias{
  display: flex;
  flex-flow: column;
  height: calc(100vh - 64px);
  .media-page-header{
    background-color: #fff;
  }
  .medias-body{
    flex:1;
    display: flex;
    .medias-left-tree{
      height: 100%;
      background-color: #fff;
    }
  }
}
