.role-list{
  flex: 1;
  display: flex;
  flex-flow: column;
  height: 0;
  .roles-title{
    padding: 8px 24px;
    height: 55px;
    //font-weight: 600;
    display: flex;
    align-items: center;
  }
  .role-list-body{
    flex: 1;
    display: flex;
    flex-flow: column;
    overflow: auto;
    .ant-menu-inline{
      border-right: 0,
    }
  }
}

.expression-input-modal{
  .input-modal-body{
    flex: 1;
    min-height: 300px;
    height: calc(100vh - 300px);
  }
  .ant-modal-body{
    padding: 0 8px;
  }
  .script-input-area{
    height: calc(100vh - 340px);
  }
}
